@font-face {
    font-family: 'star-jediregular';
    src: url('../fonts/starjedi/starjedi-webfont.woff2') format('woff2'),
        url('../fonts/starjedi/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'star-jedi-hollowregular';
    src: url('../fonts/starjedi/starjhol-webfont.woff2') format('woff2'),
        url('../fonts/starjedi/starjhol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}